.Rproj.user
.Rhistory
.RData
.Ruserdata
*.aux
*.log
*.lock
*.rds
!targets/leaching/derived_data/dpeatdecomposition_snapshot.rds
*.pdf
*.bbl
*.blg
*.toc
*.out
*.tar.gz
targets/leaching/_targets
targets/hpmd/_targets
!targets/leaching/_targets_rvars/gitkeep
!targets/leaching/misc_out/gitkeep
targets/hpmd/_targets_rvars
*renv/library
*renv/sandbox
*renv/staging
review
